{% extends 'base.html' %}

{% block content %}
<h1>In app templates: Delete Form</h1>

<form action='.' method='POST'> {% csrf_token %}
    <h1>Do you want to delete the product "{{ object.title }}"?</h1>
    <p><input type='submit' value='Yes' /> <a href='../'>Cancel</a></p>
</form>

<!-- Raw form: default action='.'
<form action='http://www.google.com/search' method='POST'>
    <input type='text' name='title' placeholder='Your title' />
    <input type='submit' value='Save' />
</form>
-->

{% endblock content %}
